<div align="center">
  <h4>One Way Data Binding</h4>
  <div>
    <p>1. Interpolation</p>
    <p>
      <b>{{ topic }}</b> from {{ name }}
    </p>
  </div>
  <div>
    <p>2. Property Binding</p>
    <input type="text" name="" id="" [value]="topic" />
    <div style="height: 160px; width: 250px; border: 1px solid black">
      <img [src]="image" alt="" />
    </div>
  </div>
  <div>
    <p>3. Event Binding</p>
    <button (click)="onSave()">Save</button>
    <select (change)="onChange()">
      <option value="Country">Country</option>
      <option value="India">India</option>
      <option value="Germany">Germany</option>
      <option value="France">France</option>
      <option value="Spain">Spain</option>
    </select>
  </div>
  <h4>Two Way Data Binding</h4>
  <div>
    <input type="text" [(ngModel)]="topic" />
    {{ topic }}
  </div>
</div>
