<app-linked-signals></app-linked-signals>
<!-- <app-signals></app-signals> -->
<!-- <app-attribute-directives-component></app-attribute-directives-component> -->
<!-- <app-structural-directive-ngswitch-vs-switch></app-structural-directive-ngswitch-vs-switch> -->
<!-- <app-structural-directive-ngfor-vs-for></app-structural-directive-ngfor-vs-for> -->
<!-- <app-structural-directive-ngif-vs-if></app-structural-directive-ngif-vs-if> -->.
<!-- <app-user></app-user> -->
<!-- <app-data-binding ngSkipHydration></app-data-binding> -->
<!-- <app-app-directives></app-app-directives> -->
<router-outlet />
